# PostgreSQL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/product_catalog

# Security
SECRET_KEY=secret_key_not_for_production

# National Bank API
NB_API_URL=https://api.nbrb.by/exrates/rates/431?periodicity=0